* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.header {
    background-color: #F55A5A;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.header--globe {
    width: 24px;
}

.header--text {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.075em;
    color: #FFFFFF;
}

.content {
    margin: 27px 40px 0 40px;
    display: flex;
    flex-direction: column;
}

.card {
    margin: 18px 0;
    height: 168px;
    display: flex;
}

/* the border between cards - only applies between them! */
.card--spacer + .card--spacer {
    border-top: 1px solid #F5F5F5;
}

.card--image {
    width: 125px;
    object-fit: cover;
    border-radius: 5%;
}

.card--details {
    width: 100%;
    margin: 19px 0 19px 19px;
    font-style: normal;
    color: #2B283A;
    font-size: 10px;
}

.card--details--icon {
    width: 7px;
}

.card--details--location {
    display: flex;
    font-weight: 400;
    line-height: 12px;
}

.card--details--country {
    margin-left: 4px;
    letter-spacing: 0.17em;
}

.card--details--link {
    margin-left: 12px;
    text-decoration-line: underline;
    color: #918E9B;
}

.card--details--title {
    margin-top: 4px;
    height: 40px;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
}

.card--details--date {
    margin-top: 4px;
    font-weight: 700;
    line-height: 12px;
}

.card--details--description {
    margin-top: 9px;
    font-weight: 400;
    line-height: 150%;
}